@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Bloom";
    src: url("./assets/Bloom.ttf");
}

.Nav-link.active{
    @apply text-Rouge
}
::-webkit-scrollbar{
    @apply w-[10px]
}
::-webkit-scrollbar-thumb{
    @apply bg-gray-200 rounded-sm
}
::-webkit-scrollbar-track{
    @apply bg-Noir
}